<html>
  <head>
    <meta charset="UTF-8">
    <title>Flask-darkflow-web-streaming</title>
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script>

      $(document).ready(function()  {
        setInterval("ajaxd()", 1000); // call every 1 seconds
      });

      function ajaxd()  {
        // reload result into element with id "resultReceived"
        $("#resultReceived").load("/sendResult")
      }
    </script>
  </head>

  <body>
    <h1>Video Streaming Demonstration</h1>
    <img id="bg" src="{{ url_for('video_feed') }}">
    <h2> Predict Result </h2>
    <textarea id="resultReceived" rows="10" cols="50">{{ resultReceived }}</textarea>
  </body>
</html>
