{% extends 'layout.html' %}

{% block content %}

<div class="row align-items-center" style="margin-left: 10%;">
	{% for number in number_list %}
	<div class="card m-2 text-center" style="width: 15rem;">
	  <img src="../static/img/asl_{{ number }}.png" class="card-img-top" alt="...">
	  <div class="card-body">
	    <h3 class="card-title">{{ number }}</h3>
	    <a href="{{ url_for('practice2', element=number) }}" class="btn btn-primary text-center">{{_('go_practice')}}</a>
	  </div>
	</div>
	{% endfor %}
</div>

{% endblock %}