{% extends 'layout.html' %}

{% block content %}

<section id="choose_alphabet">
	<div class="row">
		<div class="card m-2 text-center" style="width: 15rem;">
		  <img src="../static/img/asl_a.png" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h3 class="card-title">A a</h3>
		    <a href="{{ url_for('practice')}}" class="btn btn-primary text-center">연습하러 가기</a>
		  </div>
		</div>
		{# Aa 만 예시로 practice.html 로 갈 수 있게 url 연결 -> 나중에 데이터 베이스 만들면 아래 더미데이터는 필요 X #}
		<div class="card m-2 text-center" style="width: 15rem;">
		  <img src="../static/img/asl_b.png" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h3 class="card-title">B b</h3>
		    <a href="#" class="btn btn-primary text-center">연습하러 가기</a>
		  </div>
		</div>

		<div class="card m-2 text-center" style="width: 15rem;">
		  <img src="../static/img/asl_c.png" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h3 class="card-title">C c</h3>
		    <a href="#" class="btn btn-primary text-center">연습하러 가기</a>
		  </div>
		</div>

		<div class="card m-2 text-center" style="width: 15rem;">
		  <img src="../static/img/asl_d.png" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h3 class="card-title">D d</h3>
		    <a href="#" class="btn btn-primary text-center">연습하러 가기</a>
		  </div>
		</div>

		<div class="card m-2 text-center" style="width: 15rem;">
		  <img src="../static/img/asl_e.png" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h3 class="card-title">E e</h3>
		    <a href="#" class="btn btn-primary text-center">연습하러 가기</a>
		  </div>
		</div>

			<div class="card m-2 text-center" style="width: 15rem;">
		  <img src="../static/img/asl_f.png" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h3 class="card-title">F f</h3>
		    <a href="#" class="btn btn-primary text-center">연습하러 가기</a>
		  </div>
		</div>

		<div class="card m-2 text-center" style="width: 15rem;">
		  <img src="../static/img/asl_g.png" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h3 class="card-title">G g</h3>
		    <a href="#" class="btn btn-primary text-center">연습하러 가기</a>
		  </div>
		</div>

		<div class="card m-2 text-center" style="width: 15rem;">
		  <img src="../static/img/asl_h.png" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h3 class="card-title">H h</h3>
		    <a href="#" class="btn btn-primary text-center">연습하러 가기</a>
		  </div>
		</div>

		<div class="card m-2 text-center" style="width: 15rem;">
		  <img src="..." class="card-img-top" alt="...">
		  <div class="card-body">
		    <h3 class="card-title">I i</h3>
		    <a href="#" class="btn btn-primary text-center">연습하러 가기</a>
		  </div>
		</div>

		<div class="card m-2 text-center" style="width: 15rem;">
		  <img src="..." class="card-img-top" alt="...">
		  <div class="card-body">
		    <h3 class="card-title">J j</h3>
		    <a href="#" class="btn btn-primary text-center">연습하러 가기</a>
		  </div>
		</div>
	</div>
</section>
{% endblock %}