{% extends "layout.html" %}
{% block content %}
	    <!-- introduction -->
        <div class="intro row mt-70">
            <div class="intro-content border rounded">
              Build responsive, mobile-first projects on the web with the world’s most popular front-end component library.
    Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
    Build responsive, mobile-first projects on the web with the world’s most popular front-end component library.
    Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
    
    
    
            </div>
        
          </div>
          <div class="row mt-90 ">
            <div class="col">
              <button type="button" class="selection btn btn-success font-weight-bold ">지문자 연습</button>
  
            </div>
            <div class="col">
              <button type="button" class="selection btn btn-success font-weight-bold">지문자 퀴즈</button>
  
            </div>
            <div class="col">
              <button type="button" class="selection btn btn-success font-weight-bold">숫자 연습</button>
  
            </div>
          </div>
{% endblock %}