
<html>
<head>
  <title>Handlang</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <script>
  function regist(){
      $.ajax({
        url: '/getlabel',
        method: 'GET'
      }).done(function(r){
        // console.log(r);
        $('#label').text(r)
        console.log("ajax-success")
        console.log(r)
      }).fail(function(){
        console.log("ajax fail")
      });

}

</script>


</head>
<body>
  <!-- <div class="mt-5">

    <div class="container"><h1>Handlang -ASL</h1></div>
    <br>
    <div class="content row">
      <div class="question col-2">questions</div>
      <div class="doctor col-5">
        <div class="title">Doctor</div>
      </div>

      <div class="patient col-5">
        <div class="title">Patient</div>
        <img id="bg" src="{{ url_for('video_feed') }}" alt="webcam">
        <div id="label-result">
          {{labels}}

        </div>
      </div>
    </div>
  </div> -->
  <img id="bg" src="{{ url_for('video_feed') }}" alt="webcam">

  <button type="button" onclick="regist();"> button </button>
  <div>result:</div>
  <div id="label"></div>


</body>
</html>
